body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
}
.text-primary{
    color: #FD6E0A;
}
/* header & nev style */
nav{
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}
.nav title{
    font-size: 800;
    font-weight: 60px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 50px;
}
.btn-primary{
    height: 64px;
    border-radius: 5px;
    background: #FD6E0A;
    color: rgb(255, 255, 255);
    background-origin: padding-box;
    border: 0;
    padding: 18px 35px;
}

